// main: style.less

@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  font-family: @font-primary;
  position: relative;

  &:after {
    content: url(../img/page-bottom-graphic.png);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    overflow: hidden;
  }
}

a {
  font-weight: 700;
  text-decoration: none;
  color: @primary-dark;
  transition: @transition;

  &:hover {
    color: @secondary;
  }

  &.a-underline {
    text-decoration: underline;
  }
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-primary;
  font-weight: 600;
}

.btn-custom {
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: 0.04em;
  border-radius: @border-radius-sm;
  transition: @transition;
  overflow: hidden;
  font-family: @font-primary;
  transition: opacity .2s cubic-bezier(.25, .46, .45, .94), background-color .2s cubic-bezier(.25, .46, .45, .94), color .2s cubic-bezier(.25, .46, .45, .94);
  will-change: transform;
  z-index: 0;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: .05em;




  &.btn-custom__primary {
    color: @white;
    background-color: @primary-dark;
    transition: @transition;
  }

  &:hover {
    color: @white;
    background-color: @secondary;
    border-color: @secondary;
  }

  &.btn-custom__secondary {
    color: @white;
    background-color: @secondary;
    transition: @transition;
  }

  &:hover {
    color: @white;
    background-color: @primary-dark;
    border-color: @primary-dark;
  }



  &.btn-custom__outline__white {
    background-color: transparent;
    color: @white;
    border: 1px solid @white;

    &:hover {
      color: @primary;
      transform: scale(1.03);

    }
  }

  &.btn-custom__outline__primary {
    background-color: transparent;
    color: @primary;
    border: 1px solid @primary;

    &::after {
      background-color: @primary;
    }

    &:hover {
      color: @white;
      transform: scale(1.03);

    }
  }


  .btn-custom-text {
    font-weight: 700;
    font-size: 16px;
    padding: 0;

    &:hover {
      border: 0;
      opacity: 0.8;
    }

    &:active {
      border: 0;
    }
  }
}

.btn-outline-light {
  .bi-search {
    &::before {
      color: @primary-dark;
    }
  }
}


.announcement-bar {
  background-color: @primary;
  text-align: center;
  border: 0;
  border-radius: 0;
}

.header-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-tools_block {
    img {
      max-width: 100%;
      width: 300px;
      height: auto;
    }
  }
}



.btn-search {
  border-color: var(--bs-border-color);
  border-left-color: white;
}

.navbar-brand {
  img {
    width: 280px;

    @media @breakpoint-mobile-sm {
      width: 180px;
    }
  }
}

.navbar-nav {
  flex-wrap: wrap;
  justify-content: center;

  .nav-item {
    .nav-link {
      text-transform: uppercase;

      &:hover {
        color: @primary;

      }
    }

  }
}

.offcanvas-header {
  border-bottom: 1px solid @green-100;
}

.offcanvas-body {
  .navbar-nav {
    .nav-item {
      @media @breakpoint-tablet {
        border-bottom: 1px solid @green-100;
        padding: 16px 0;
      }

    }
  }
}

#navbar_top {
  &.fixed-top {
    flex-direction: row !important;
    background-color: @white;
    border-bottom: 1px solid #e5dcd3;

    .nav-content {
      flex-shrink: 1;
    }

    .nav-menu {
      flex-shrink: 0;
      justify-content: flex-end !important;
    }

    .nav-item {
      .nav-link {
        font-size: 12px;
      }

    }

    .offcanvas-header {

      .navbar-brand {
        img {
          width: 200px;

          @media @breakpoint-mobile-sm {
            width: 100px;
          }
        }
      }
    }

    .navbar-brand {
      img {
        width: 100px;

        @media @breakpoint-mobile-sm {
          width: 100px;
        }
      }
    }
  }
}


.carousel-custom {
  .carousel-caption {
    top: 50%;

    @media @breakpoint-mobile {
      position: relative;
      color: @text-primary;
      left: auto;
      right: auto;
      bottom: auto;
    }

    h5 {
      margin-bottom: 16px;
    }
  }

  .carousel-indicators {
    @media @breakpoint-mobile {
      bottom: -30px;
    }

    [data-bs-target] {
      @media @breakpoint-mobile {
        background-color: @primary-dark;
      }
    }
  }

  .carousel-control-prev {
    @media @breakpoint-mobile {
      display: none;
    }
  }

  .carousel-control-next {
    @media @breakpoint-mobile {
      display: none;
    }
  }
}

.dropdown-toggle {
  &::after {
    content: url(../img/arrow.svg);
    display: inline;
    border: 0;
    vertical-align: -1px;
  }
}

.modal {
  .modal-header {
    justify-content: center;

    .modal-title {
      text-transform: uppercase;
      letter-spacing: .05em;
    }

    .btn-close {
      position: absolute;
      right: 16px;
    }
  }
}

.img-zoom {
  a {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;

    img {
      transition: @transition;
    }

    &:hover {
      img {
        transform: scale(1.02);
      }
    }

  }

}

#carouselCollections {
  .carousel-indicators {
    margin-bottom: .5rem;
  }
}

.home-promotion {
  position: relative;
  background-image: url(../img/home_page_promo_Tips_1440x640.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;

  .home-promotion__content {

    padding: 200px 30px;
    text-align: center;
    color: @white;

    @media @breakpoint-tablet-xl {
      padding: 160px 30px;
    }

    @media @breakpoint-mobile {
      padding: 80px 30px;
    }

    .home-promotion-title {
      font-size: 4.28571rem;
      text-transform: uppercase;
      letter-spacing: .05em;
      font-weight: 600;

      @media @breakpoint-tablet-xl {
        font-size: 3.21429rem;
      }

      @media @breakpoint-mobile {
        font-size: 2rem;
      }
    }

    .home-promotion-subtitle {
      margin-top: 5px;
      font-size: 1.5rem;
      font-weight: 600;

      @media @breakpoint-mobile {
        font-size: 1.14286rem;
      }
    }

  }
}

.image-with-text-section {
  position: relative;

  .image-with-text-section__content {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
  }
}

.blog-posts-section {
  border-top: 1px solid @primary-light;

  h2 {
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: center;
    margin-bottom: 40px;
  }

  .blog-post__block {
    text-align: center;

    .blog-post__date {
      color: @text-primary-light;
      margin-bottom: 12px;
    }

    .blog-post__title {
      margin-bottom: 24px;

      a {
        font-weight: 500;

      }
    }

    .blog-post__image {
      img {
        margin-bottom: 24px;
      }
    }
  }
}

footer {
  border-top: 1px solid @primary-light;

  h3 {
    font-size: 1.14286rem;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 12px;

      svg {
        margin-bottom: 4px;
        margin-right: 6px;
      }
    }
  }
}

.content-main {
  position: relative;
  padding-top: 100px;
  padding-bottom: 40px;

  &.content-main_breadcrumb {
    padding-top: 40px;
  }

  @media @breakpoint-mobile {
    padding-top: 70px;
  }

  &.text-page-simple {
    border: 1px solid @primary;

    &::before {
      content: '';
    }
  }

  &.content-main__simple {
    &::before {
      content: "";
    }

    &::after {
      content: "";
    }
  }

  &::before {
    content: url(../img/page-top-graphic1.png);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    max-width: 100%;
  }

  .content-main__title {
    position: relative;

    svg {
      max-width: 515px;
    }

    &:after {
      content: "";
      background-image: url(../img/paint_stroke_new.svg);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 100%;
      position: absolute;
      bottom: -13px;
      left: 0;
      right: auto;
      margin: 0 auto;
      width: 403px;
      height: 38px;
      z-index: -1;

      @media @breakpoint-mobile {
        max-width: 280px;
        left: 35px;
      }
    }

    &.text-center {
      &:after {
        right: 0;
      }
    }

    h1,
    h2 {
      font-size: 36px;
      line-height: 43px;
      color: @text-primary;
      margin-bottom: 32px;
      text-transform: uppercase;

      @media @breakpoint-mobile {
        font-size: 1.71429rem;
        line-height: 120%;
      }
    }
  }



  .content-main__description {
    text-align: center;

    p {
      margin-left: auto;
      margin-right: auto;
      max-width: 795px;

    }
  }

  .content-main__body {
    margin-top: 80px;

    @media @breakpoint-mobile {
      margin-top: 40px;
    }

    .categories {
      &.categories-bottom {
        .categories__block-wrap {

          .categories__block {
            a {
              align-items: flex-end;
              text-transform: uppercase;
            }
          }
        }
      }

      .categories__block-wrap {
        padding: 32px;

        @media @breakpoint-mobile {
          padding: 16px;
        }

        .categories__block {
          position: relative;

          img {
            width: 100%;
          }

          a {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            font-size: 24px;
            line-height: 28.8px;
            font-weight: 500;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: none;
            text-align: center;
            padding: 16px;
          }
        }
      }
    }
  }
}

.testimonials {
  padding: 0;
  margin: 40px 30px 0;

  .testimonials-list {
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 930px;
    margin: 0 auto;
    overflow: hidden;

    .testimonials-item {
      background-position: right top;
      width: 100%;
      background-color: @neutral;
      background-image: url(../img/testimonials-top-right-half-graphic.png);
      min-height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 55px 8px 65px 8px;
      background-repeat: no-repeat;
      background-size: auto;
      font-size: 1rem;
      text-align: center;
      vertical-align: top;

      &:hover {
        background-color: #c2cca499;

        .testimonials-sub-heading {
          display: block;
        }
      }

      .testimonials-icon {
        margin-bottom: 35px;
        display: inline-block;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
        color: @primary-dark;
      }

      .robinism-text {
        font-weight: 900;
        position: absolute;
        right: 40px;
        top: 16px;
        margin: 0;
      }

      .testimonials-content {
        font-size: 21px;
        font-weight: 800;
        line-height: 25.2px;
        color: @text-primary;
        max-width: 430px;
        margin: 0 auto;
      }

      .testimonials-sub-heading {
        margin-top: 15px;
        display: none;

        p {
          margin: 0 auto;
          font-size: 18px;
          max-width: 600px;
          line-height: 120%;
          font-weight: 500;
        }

      }
    }
  }
}

.testimonials-section {
  .testimonials-block {
    background-color: @neutral;
    padding: 70px 100px 55px 160px;
    position: relative;

    @media @breakpoint-mobile-sm {
      padding: 30px 30px 30px 55px;
    }

    &+.testimonials-block {
      margin-top: 32px;
    }

    &:nth-child(2n) {
      background-color: @primary-light;

      &:before {
        background-image: url(../img/double-quote-icon-dark.png);
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 42px;
      left: 68px;
      background-image: url(../img/double-quote-icon-light.png);
      background-repeat: no-repeat;
      background-size: 100% auto;
      width: 60px;
      height: 52px;

      @media @breakpoint-mobile-sm {
        width: 30px;
        left: 15px;
        height: 30px;
        top: 22px;
      }
    }

    .testimonials-title {
      color: #889466;
      font-size: 28px;
      margin-bottom: 12px;

      @media @breakpoint-mobile-sm {
        font-size: 22px;
      }
    }

    .testimonials-content {
      max-width: calc(100% - 362px);
      flex: 0 0 calc(100% - 362px);

      p {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .testimonials-client-name {
      color: #aa6141;
      font-weight: 600;
      font-style: italic;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}

.border-top {
  position: relative;
  border-top: none !important;
  padding-top: 12px;

  &.border-top {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 144px;
      height: 6px;
      background-color: @primary;
    }
  }
}

.tips-blocks-section {

  .tips-of-the-trade-block {
    display: flex;
    margin-bottom: 32px;

    @media @breakpoint-tablet {
      flex-direction: column;
    }



    .tips-block-image {
      padding: 0;
      height: auto;
      flex: 0 0 362px;
      max-width: 362px;
      width: 100%;
      position: relative;

      figure {
        height: 100%;
        width: 100%;
        position: relative;
        margin: 0;

        img {
          width: 100%;
          margin: auto;
          height: 100%;
          object-fit: cover;
          -o-object-fit: cover;
          font-family: "object-fit: cover;";
        }
      }
    }

    .tips-block-content {
      padding: 40px 56px 44px;
      background-color: @neutral;

      @media @breakpoint-mobile-sm {
        padding: 32px;
      }

      .tips-block-category-wrap {
        display: flex;
        padding-top: 12px;
        margin-bottom: 16px;
        gap: 12px;

        .tips-block-category {

          color: @primary-dark;
          text-transform: uppercase;

          &:first-child {
            padding-left: 0;
            margin-left: 0;
          }
        }

        .tips-block-date {
          border-right: 1px solid @primary-dark;
          padding-right: 12px;
        }

        &.border-top {
          margin-bottom: 16px;

          &::before {
            height: 3px;
            width: 80px;
          }
        }
      }

      .tips-block-tags {
        display: flex;
        margin-bottom: 12px;
      }
    }
  }

  &.press-blocks-section {

    .tips-of-the-trade-block {
      display: block;
    }

    .press-inner-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;

      .tips-block-image {
        flex: auto;
        max-width: 100%;
      }

      .tips-block-content {
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
      }
    }
  }
}

.form-select {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 50%;

  @media @breakpoint-tablet {
    max-width: 100%;
  }

}

.carousel-emphasis-caption {
  .carousel-indicators {
    @media @breakpoint-tablet {
      bottom: -40px;
    }

    [data-bs-target] {
      @media @breakpoint-tablet {
        background-color: @primary-dark;
      }
    }
  }

  .carousel-caption {
    top: 10%;
    bottom: 10%;
    background: @primary-light;
    left: auto;
    right: 11%;
    width: 540px;
    padding: 4%;
    text-align: left;
    color: #393939;
    display: flex;
    align-items: center;
    color: @text-primary;
    border-top: 9px solid @primary;

    @media @breakpoint-tablet {
      position: relative;
      width: 100%;
      left: 0;
    }

    .tips-block-category-wrap {
      display: flex;

      .tips-block-category {
        text-transform: uppercase;
        color: @primary-dark;
      }

      .tips-block-title {
        margin-bottom: 24px;
        font-size: 28px;
        line-height: 36px;
        color: @text-primary;
      }

      .tips-block-text {
        p {
          color: @text-primary;
        }
      }

    }
  }
}

.carousel-full {
  background-color: @primary-light;

  .carousel-inner {
    .carousel-item {
      padding: 40px;

      .carousel-caption {
        top: auto;
        bottom: auto;
        background: transparent;
        left: auto;
        right: auto;
        width: 100%;
        padding: 6%;
        border-top: 0;
        position: relative;

        @media @breakpoint-mobile-sm {
          padding: 6% 0;
        }

        .data-category {
          padding-top: 12px;
          color: @text-primary;
          text-transform: none;
          margin-bottom: 16px;
        }

        .tips-block-title {
          font-size: 36px;

          @media @breakpoint-mobile-sm {
            font-size: 26px;
          }
        }
      }
    }

  }


}

.pagination-custom {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.35rem;
  --bs-pagination-font-size: 1.2rem;
  --bs-pagination-color: @primary-dark;
  --bs-pagination-bg: var(--bs-body-bg);
  --bs-pagination-border-width: var(--bs-border-width);
  --bs-pagination-border-color: @primary-dark;
  --bs-pagination-border-radius: 0;
  --bs-pagination-hover-color: white;
  --bs-pagination-hover-bg: @primary-dark;
  --bs-pagination-hover-border-color: @primary-dark;
  --bs-pagination-focus-color: var(--bs-link-hover-color);
  --bs-pagination-focus-bg: var(--bs-secondary-bg);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(190, 214, 202, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: @primary-dark;
  --bs-pagination-active-border-color: @primary-dark;

  .page-item {
    margin: 0 2px;
  }
}

.blog-listing-section {
  .blog-post {
    margin-bottom: 24px;

    .blog-content {
      background-color: @neutral;
      padding: 60px 44px 60px 54px;
      position: relative;
      max-width: calc(100% - 400px);
      flex: 0 0 calc(100% - 400px);

      @media @breakpoint-tablet-xl {
        padding: 40px 30px;
        max-width: calc(100% - 300px);
        flex: 0 0 calc(100% - 300px);
      }

      @media @breakpoint-tablet {
        padding: 40px 30px;
        max-width: 100%;
        flex: 100%;
      }


      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: -295px;
        width: 295px;
        background-color: inherit;

        @media @breakpoint-tablet-xl {
          right: -225px;
          width: 225px;
        }

        @media @breakpoint-tablet {
          width: 100%;
          top: -70px;
          left: 0;
          right: 0;
          bottom: auto;
          height: 70px;
        }
      }

      .post-date {
        letter-spacing: normal;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 4px;
        margin-top: 0;
        text-align: left;
        color: #393939;
        max-width: 100%;
        padding-top: 12px;
      }

      .post-title {
        font-size: 36px;
        line-height: 120%;
        font-weight: 500;
        margin-bottom: 18px;
      }

      .post-content {
        position: relative;
        z-index: 500;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;

      }
    }



    .blog-post-image {
      z-index: 1;
      position: relative;
      padding: 0;
      flex: 0 0 400px;
      max-width: 400px;

      @media @breakpoint-tablet-xl {
        flex: 0 0 300px;
        max-width: 300px;
      }

      @media @breakpoint-tablet {
        margin: 0 auto;
      }

      figure {
        height: 270px;
        width: 100%;
        position: relative;

        @media @breakpoint-tablet {
          height: 189px;
        }
      }
    }
  }
}

.blog-sidebar {
  gap: 32px;
  display: flex;
  flex-direction: column;
  padding-left: 48px;

  @media @breakpoint-tablet {
    padding-left: 0;
  }

  .signup-for-blog {
    background-color: @neutral;
    border-top: 7.5px solid #C2CCA4;
    padding: 25px 15px 38px;
    text-align: center;

    h4 {
      font-size: 21px;
      color: @primary-dark;
      line-height: 120%;
      font-weight: 600;
      margin-bottom: 16px;
    }
  }

  .robin-barons-quote {
    img {
      margin-bottom: 24px;
    }
  }

  .testimonials {
    margin: 0;

    .testimonials-list {
      .testimonials-item {
        min-height: 470px;
      }
    }
  }
}

.content-blog {
  padding-top: 40px;

  .content-main__body {
    margin-top: 40px;
  }
}

.portfolio-grid {
  .grid-item {
    .imgWithText {
      position: relative;
      overflow: hidden;

      &:hover {
        h4 {
          opacity: 1;
          bottom: 0;
        }
      }

      img {
        width: 100%;
        height: 100%;
      }

      a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        font-size: 0;
      }

      h4 {
        width: 100%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        bottom: -100%;
        display: flex;
        justify-content: center;
        color: #fff;
        font-size: 21px;
        background-color: #3d3939cc;
        padding: 15px;
        min-height: 80px;
        z-index: 1;
        font-weight: 500;
        opacity: 0;
        transition: all .4s;
      }
    }

  }


}

.step-block {
  background-color: @neutral;
  position: relative;
  height: 100%;
  text-align: center;
  padding: 100px 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .number {
    width: 91px;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c2cca4;
    border-radius: 50%;
    margin: 0 auto 40px;
    color: #889466;
    font-size: 40px;
    font-weight: 500;
  }

  .step-block-title {
    color: @primary-dark;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 35px;
  }
}

.full-service-design-steps {
  .step-block-wrap {
    padding: 38px 16px 0;

    @media @breakpoint-tablet-xl {
      padding: 0 15px;
    }

    @media @breakpoint-tablet-xl {
      margin-top: 80px;
    }

    .step-block {
      padding-left: 15px;
      padding-right: 15px;
    }

    .step-block-title {
      font-size: 30px;
      min-height: 72px;

      @media @breakpoint-tablet-xl {
        font-size: 22px;
        min-height: auto;
      }
    }

    &.step-block-image {
      .step-block {
        padding: 0 !important;
        border-top: 0;
        background-color: transparent;
      }
    }

  }

}

.expert-design-advice-steps {
  .step-block {
    border-top: 8px solid @primary;
    padding: 100px 55px 70px;
    justify-content: flex-start;

    @media @breakpoint-tablet-xl {
      padding: 80px 30px 70px;
    }

    @media @breakpoint-mobile-sm {
      padding: 50px 15px;
    }

    .number {
      position: absolute;
      top: -45.5px;
      left: 0;
      right: 0;
    }
  }
}

.book-appointment-button-wrap {
  text-align: center;
  margin-top: 68px;
  justify-content: center;

  a {
    max-width: 450px;
  }

}

.sec-info {
  margin-top: 32px;

  .sub-title {
    .sub-title {
      font-size: 18px;
      line-height: 21.6px;
      margin-bottom: 8px;
      text-transform: none;
    }

    p {
      font-size: 14px;
      line-height: 16.8px;
      font-weight: 500;
    }
  }
}

.slick-prev:before,
.slick-next:before {
  color: @text-primary;
}

.gallery-carousel {
  .gallery-carousel__slide__wrap {
    .gallery-carousel__slide {
      padding: 10px;
    }
  }
}

.hero-aside {
  display: flex;
  flex-wrap: wrap;

  &.design-by-hour-banner {
    .banner-text {
      background-image: url(../img/design_services.svg);
    }

    figure {
      margin: 0;
      max-height: 685px;
      transform-style: preserve-3d;
      transition: transform .2s cubic-bezier(.25, .46, .45, .94);
      position: relative;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -o-object-fit: cover;
        font-family: "object-fit: cover;";
      }
    }
  }

  .banner-text {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px !important;

    .banner-text-wrap {
      display: flex;
      flex-direction: column;
      row-gap: 44px;

      @media @breakpoint-tablet {
        row-gap: 24px;
      }

      @media @breakpoint-mobile {
        row-gap: 16px;
      }

      h2 {
        font-size: 36px;
        line-height: 43px;
        color: @text-primary;
        position: relative;
        margin-bottom: 0;
      }

      p {
        font-size: 18px;
        line-height: 120%;
        font-weight: 500;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 0;
      }
    }
  }
}

.sec-robin-is-here {
  .sec-robin-is-here-block {
    background-color: @neutral;

    .sec-robin-is-here-image {
      height: 100%;


      margin-bottom: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -o-object-fit: cover;
        font-family: "object-fit: cover;";

      }
    }

    .sec-robin-is-here-text {
      padding: 68px 75px;

      @media @breakpoint-tablet {
        padding: 44px 56px;
      }

      @media @breakpoint-mobile {
        padding: 32px;
      }

      .sec-title {
        h2 {
          margin-bottom: 36px;
          font-size: 36px;
          line-height: 43px;
          color: #393939;
          position: relative;
          text-transform: uppercase;
        }

        p {
          font-size: 14px;
          font-weight: 500;
          margin-top: 0;
        }
      }
    }

    .robin-is-here-question-list {
      padding: 0;
      margin: 28px 0 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}

.style-block-wrap {
  margin: 0;

  @media @breakpoint-mobile {
    margin-bottom: 24px;
  }

  .style-block-image {
    padding: 0;
    min-height: 430px;
  }

  &:nth-child(odd) {
    .style-block-image {
      order: 2;

      @media @breakpoint-mobile {
        order: 1;
      }
    }
  }

  &:nth-child(odd) {
    .style-block {
      order: 1;

      @media @breakpoint-mobile {
        order: 2;
      }
    }
  }

  .style-block {
    padding: 60px 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: @neutral;

    .style-block-title {
      color: @primary-dark;
      font-size: 36px;
      line-height: 120%;
      margin-bottom: 25px;
    }

  }
}

.full-height-image {

  figure {
    height: 100%;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      margin: auto;
      height: 100%;
      object-fit: cover;
      -o-object-fit: cover;
      font-family: "object-fit: cover;";
    }
  }

}

.contact-us-form-title-section {
  margin-top: 95px;

  .contact-us-form-title {
    text-align: center;
    font-weight: 500;
    max-width: 550px;
    margin: 0 auto;
    font-size: 21px;
  }
}



.hear-from-you-section-content {
  padding-left: 15px;

  .hear-from-you-block {
    h3 {
      font-size: 24px;
    }
  }
}

.collections-list-item {
  text-align: center;
  margin-bottom: 24px;

  .thumbnail {
    a {
      display: block;

      img {
        display: block;
        margin: 0 auto;
      }
    }

  }

  .collection-title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;

    a {
      color: @text-primary-light;
      font-weight: 500;
    }
  }
}

.product-list-item {

  .product-list-item-title {
    font-family: Nunito Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 7px 0;
    font-size: 1.07143rem;
    text-transform: none;
    letter-spacing: 0;
    text-transform: inherit;
  }
}

.share-buttons {
  margin: 30px auto 40px;
  cursor: pointer;

  a {
    display: inline-block;
    height: 22px;
    margin: 0 5px;
    vertical-align: text-top;
    color: @primary-dark;
    svg {
      height: 13px;
  }
  }
  .section-title {
    display: inline-block;
    width: auto;
    margin-right: 12px;
    font-size: .92857rem;
}
}

.slick-slider .slick-prev, .slick-slider .slick-next {
  z-index: 100;
  font-size: 2.5em;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  color: #B7B7B7;
  position: absolute;
  top: 50%;
  text-align: center;
  color: #000;
  opacity: .3;
  transition: opacity .25s;
  cursor: pointer;
}
.slick-slider .slick-prev:hover, .slick-slider .slick-next:hover {
  opacity: .65;
}
.slick-slider .slick-prev {
  left: 0;
}
.slick-slider .slick-next {
  right: 0;
}

#detail {
  .product-images {
    width: 100%;
    margin: 0 auto;   

    li, figure, a, img {
      display: block;
      outline: none;
      border: none;
    }
    

    .main-img-slider {
      figure {
        margin: 0 auto;
        padding: 0 2em;

        a {
          cursor: pointer, -webkit-zoom-in, -moz-zoom-in, zoom-in;

          img {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
          }
        }
      }
    }

    .thumb-nav {
      margin: 0 auto;
      padding: 20px 10px;
      max-width: 600px;

      &.slick-slider {
        .slick-prev, .slick-next {
          font-size: 1.2em;
          height: 20px;
          width: 26px;
          margin-top: -10px;
        }

        .slick-prev {
          margin-left: -30px;
        }

        .slick-next {
          margin-right: -30px;
        }
      }

      li {
        display: block;
        margin: 0 auto;
        cursor: pointer;

        img {
          display: block;
          width: 100%;
          max-width: 75px;
          margin: 0 auto;          
          transition: border-color .25s;
        }

        &:hover, &:focus {
          border-color: @neutral;
        }

        &.slick-current img {
          border-color: @primary;
        }
      }
    }
  }
  .product-gallery{
    margin-bottom: 40px;
  }
}


